*.iml

local.properties

.gradle/
build/

.idea/libraries/*
.idea/caches/*
.idea/artifacts/*
.idea/modules.xml
.idea/workspace.xml
.idea/jarRepositories.xml

/docs/images/
/docs/scripts/
/docs/styles/
/docs/docs/
/docs/index.html
/docs/navigation.html
!/docs/images/md/*.*
