# Project exclude paths

*.iml

local.properties

.gradle/
build/

/docs/twitlin/

.idea/*
.idea/codeStyles/*
!.idea/codeStyles/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/kotlinScripting.xml
!.idea/runConfigurations.xml
!.idea/vcs.xml
/docs/scripts/
/docs/styles/
/docs/images/*
!/docs/images/md/*
